.name{
    width: 50px;
    height: 50px;
    border: 3px,solid;
}

#second{
    background-color: blue;
    display: none;
}

#first{

    background-color: cadetblue;
    

}
#third{
    background-color: brown;
    display: none;
}
